/* Styling for weather card and contents */
.weather-card {
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    width: 200px;
    height: 170px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(197, 178, 2, 0.2), 0 6px 20px 0 rgba(187, 175, 13, 0.19);
    opacity: 0.8;
    background: rgba(244, 242, 245, 0.103);
}

.name {
    position: inherit;
    top: 15px;
    right: 45px;
}

.description {
    position: inherit;
    right: 70px;
}

.temp {
    text-align: center;
}

.weather-image {
    align-items: right;
    text-align: right;
}