

.Weather-Container{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;  */
    width: 300px;
    height: 360px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #3b2f80 0%, #282c34 80%);
    color: goldenrod;
}

/* .Weather-Widget {
    display: flex;
    align-items: center;
    justify-content: center;
} */